
*{
    margin: 0;
}

.banner-section{
    background-image: url(../images/donation11.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height:700px;
    }


.banner{
    text-align: center;
    padding-top: 150px;
    
}

.banner-title{
    font-size: 90px;
    padding-bottom: 20px;
    /* padding-right: 50px; */
   
}

.banner-detail{
    font-size: 30px;
    padding-bottom: 20px;
    color: wheat;
}

.donate-btn{
    padding: 20px;
    font-size:15px ;
    border-radius: 5px;
    border: none;
    background-color: #CEE053;

}


.donate-section{
    background-color: whitesmoke;
    padding: 10px 150px;
    margin: 50px 150px;
    text-align: center;
    border-radius: 20px;
    /* border: 5px solid rebeccapurple; */
    
}

.donate-today{
    padding-top: 50px;
    padding-bottom: 50px;
}

.donate-title{
    padding: 30px;
    font-size: 60px;
}

.donat-detail{
    padding-bottom: 30px;
    font-size: 20px;
}


.amount-box h4{
    padding: 30px;
    
}

.amount-box{
    display: flex;
    gap: 30px;
    background-color: aliceblue;
      
}


.amount{
text-align: center;
font-size: 25px;
width: 300px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 6px 30px rgba(235, 4, 4, 0.144);
border-radius: 5px;

}

#amount{
    border: 2px solid rgb(104, 70, 206);
    
}


.other-amount{
margin-top: 30px;
}


.hr-line{
    width: 700px;
    margin-bottom: 20px;
    text-align: center;
}



.our-donate-plan{
    margin: 50px;
    padding: 20px 150px;
    text-align: center;
}

.donate-plan-titele{
    margin: 30px;
    font-size: 70px;

}


.donate-plan-detail{
    margin: 30px;
    font-size: 60x;
}

.donate-plan-box{
    display: flex;
    gap: 30px;
}



.food{
    background: #74d6dd83;
    box-shadow: 0px 6px 30px rgba(235, 4, 4, 0.144);
    border-radius: 5px;
    height: 300px;
    width: 1000px;
    text-align: left;
    padding-left: 5px;
    padding-right: 20px;


}
.shelter{
    background: #abafaa;
    box-shadow: 0px 6px 30px rgba(235, 4, 4, 0.144);
    border-radius: 5px;
    height: 300px;
    width: 1000px;
    text-align: left;
    padding-left: 5px;
    padding-right: 20px;
}


.child{
    background: #ecf1c2;
    box-shadow: 0px 6px 30px rgba(235, 4, 4, 0.144);
    border-radius: 5px;
    height: 300px;
    width: 1000px;
    text-align: left;
    padding-left: 5px;
    padding-right: 20px;

}

.-img{
    padding: 25px;
}

.title{
    padding: 10px;
    font-size: 25px;
}

.detail{
    padding-left: 10px;
}



.lives-section{
    padding: 60px 200px;
}
.lives-depend{
    display: flex;
   gap: 30px;

}

.lives-title{
    margin: 30px;
    font-size: 40px;
}


.lives-detail{
font-size: 20px;
margin-bottom: 20px;
}

.live-btn{
padding: 15px;
background-color: #393a35;
color: white;
border-radius: 10px;
border: none;
font-size: 20px;

}

.live-img{
    width: 500px;
    padding-top: 40px;
    
}

